.services {
  padding-bottom: 194px;

  @include breakpoint-1200 {
    padding-bottom: 150px;
  }

  @include breakpoint-1000 {
    padding-bottom: 120px;
  }

  @include breakpoint-800 {
    padding-bottom: 80px;
  }

  @include breakpoint-600 {
    padding-bottom: 60px;
  }

  &__head {
    @include flex-between;
    gap: 80px;
    margin-bottom: 80px;

    @include breakpoint-1400 {
      margin-bottom: 60px;
    }

    @include breakpoint-1000 {
      flex-direction: column;
      gap: 20px;
      margin-bottom: 40px;
    }

    @include breakpoint-900 {
      text-align: center;
    }

    @include breakpoint-500 {
      margin-bottom: 20px;
    }
  }

  &__description {
    max-width: 975px;
  }

  &__list {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);

    @include breakpoint-1000 {
      display: none;
    }

    &-two {
      display: none;

      @include breakpoint-1000 {
        display: grid;
        gap: 20px;
        grid-template-columns: repeat(2, 1fr);

        @include breakpoint-1000 {
          display: flex;
          flex-direction: column;
          gap: 20px;
          flex-wrap: wrap;
        }
      }
    }
  }

  &__card {
    @include flex-column;
    align-items: center;
    text-align: center;
    padding: 40px 47px;
    border: 2px solid var(--blueviolet-dark-color);
    border-radius: 64px;

    @include breakpoint-1000 {
      order: 0;
    }

    @include breakpoint-500 {
      padding: 40px 20px;
    }

    &-one {
      padding: 80px 47px 40px;

      @include breakpoint-1000 {
        order: -1;
        padding: 40px 47px;
      }

      @include breakpoint-500 {
        padding: 40px 20px;
      }
    }

    &-two {
      @include breakpoint-1000 {
        order: -1;
      }
    }

    &-three {
      padding: 49px 53px 39px;

      @include breakpoint-1000 {
        padding: 40px 47px;
      }

      @include breakpoint-500 {
        padding: 40px 20px;
      }

      & .services__card-title {
        margin-bottom: 33px;
      }

      & img {
        margin-bottom: 30px;
      }
    }

    &-four {
      @include breakpoint-1000 {
        order: -1;
      }
    }

    &-five {
      @include breakpoint-1000 {
      }
    }

    &-six {
      @include breakpoint-1000 {
      }
    }

    &-seven {
      @include breakpoint-1000 {
      }
    }

    &-eth {
      @include breakpoint-1000 {
        order: -1;
      }
    }

    &-blue {
      background: linear-gradient(
        225.58deg,
        rgb(86, 76, 173) 0.298%,
        rgb(147, 111, 212) 99.702%
      );

      & .services__card-title {
        background: none;
        -webkit-text-fill-color: var(--white-color);
      }

      & .services__card-description {
        color: var(--white-color);
      }
    }

    &-title {
      margin-bottom: 10px;
    }

    &-description {
      margin-bottom: 30px;
      font-family: "Montserrat", sans-serif;
    }

    &-image {
      margin-bottom: 20px;

      & img {
        @include breakpoint-600 {
          width: 150px;
          height: 130px;
        }
      }
    }

    &-link {
      display: inline-block;
    }
  }
}
